@model FKS.Site.Models.MemberView

@*<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=CGiRM4BHLHZ0FeIRsMMlz6ft"></script>*@
@*<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=karVRuvPmim2pa7E2HgSROmv"></script>*@
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=jBrSQkEQdtv9V0svqL6G8FZx"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/RectangleZoom/1.2/src/RectangleZoom_min.js"></script>

<div class="easyui-tabs" data-options="fit:true,border:false">
</div>
<div class="hidden">
    @Html.TextBoxFor(model => model.IsAdmin)
    @Html.TextBoxFor(model => model.UserName)
    @Html.TextBoxFor(model => model.NickName)
</div>

