<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false,collapsible:false" style="height:60px; padding:10px; overflow:hidden; border-bottom-width:1px;"></div>
    <div data-options="region:'center',border:false,split:true">
        <div id="tt" class="easyui-tabs" data-options="fit:true, border:false">
            <div title="数据报表" style="padding:20px">

            </div>
            <div title="图形报表">

            </div>
        </div>
    </div>
</div>