<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false,collapsible:false" style="height: 60px;padding: 10px; overflow: hidden; border-bottom-width: 1px;"></div>
    <div data-options="region:'center',split:true,border:false">
        <div id="tt" class="easyui-tabs" data-options="fit:true,border:false">
            <div title="电子地图" style="padding:20px;">

            </div>
            <div title="排放口一览" >

            </div>
        </div>
    </div>
</div>