@*@model FKS.Site.Models.EquipManagerView
@using FKS.Site.Helper.MVCHtmlExtend

@{
    Layout = "~/Views/Shared/_AjaxForm.cshtml";
}

@using (Ajax.BeginForm(new AjaxOptions
{
    OnSuccess = ViewBag.Success,
    OnFailure = ViewBag.Failure
}))
{
    @Html.HiddenFor(model => model.CollectionCode)
    <div class="bs-example">
        <h1 class="title">删除用户</h1>
        <div class="form-horizontal pd10">
            @Html.FormItem(model => model.DetectorNum1)
            @Html.FormItem(model => model.DetectorID1)
        </div>
    </div>
}*@
