<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false,collapsible:false" style="height: 90px;padding: 10px; overflow: hidden; border-bottom-width: 1px;">
        <div style="margin: 5px;" class="form-inline">
            <div class="form-group">
                <label class="control-label">月份：</label>
            </div>
            <div class="form-group">
                @*<input data-role="type" type="month" class="form-control input-sm datepicker" value="new Date()" />*@
                <select id="month" class="easyui-combobox" style="width:150px;" data-operation="required:true">
                    <option value="01">1月份</option>
                    <option value="02">2月份</option>
                    <option value="03">3月份</option>
                    <option value="04">4月份</option>
                    <option value="05">5月份</option>
                    <option value="06">6月份</option>
                    <option value="07">7月份</option>
                    <option value="08">8月份</option>
                    <option value="09">9月份</option>
                    <option value="10">10月份</option>
                    <option value="11">11月份</option>
                    <option value="12">12月份</option>
                </select>
            </div>
        </div>
        <div style="margin: 5px" class="form-inline">
            <div class="form-group">
                <label class="control-label">设备选择：</label>
            </div>
            <div class="form-group">
                <input data-role="type" type="text" class="form-control input-sm EquipInfo" />
            </div>
            <a href="#"
               data-operation="doAccount"
               iconcls="icon_19"
               class="easyui-linkbutton"
               data-options="plain:true,toggle:false">
                生成台账
            </a>
        </div>
    </div>
    <div data-options="region:'center',border:false,split:true">
        <div id="tt" class="easyui-tabs" data-options="fit:true, border:false">
            <div title="油烟净化台账" id="concentrationTab" style="padding:20px">

            </div>
        </div>
    </div>
</div>
