/*! fks 2014-07-07 */

.combobox-group,.combobox-item{font-size:12px;padding:3px 0 3px 3px}.combobox-gitem{padding-left:10px}.combobox-group{font-weight:700}.combobox-item-hover{background-color:#fff7d6;color:#404040}.combobox-item-selected{background-color:#f7cc8f;color:#404040}