<div style="margin:5px;" class="form-inline">

    <div class="form-group">
        <label class="sr-only control-label">Email address</label>
        <input data-role="type" type="text" data-bind="value: Type" class="form-control input-sm" />
    </div>

    <div class="form-group">
        <label class="sr-only control-label">Email address</label>
        <input type="text" data-bind="value: Name" class="form-control input-sm" placeholder="区域名称" />
    </div>

    <div class="form-group">
        <a href="javascript:;" data-operation="doSearch" class="btn btn-primary btn-xs active" role="button">查询</a>
    </div>
    
</div>