<div style="margin:5px; display:none;" class="form-inline">

    <div class="form-group">
        <label class="control-label">检索类别：</label>
        <input data-role="type" id="PropertyInfo" type="text" data-bind="value: PropertyInfo" class="form-control input-sm" />
    </div>

    <div class="form-group">
        <label class="control-label">设备位置：</label>
        <input data-role="type" id="PositionInfo" type="text" data-bind="value: PositionInfo" class="form-control input-sm" />
    </div>

    <div class="form-group">
        <a href="javascript:;" data-operation="doSearch" class="btn btn-primary btn-xs active" role="button">查询</a>
    </div>

    <div class="form-group">
        <label id="hint">离下次刷新时间还有10秒</label>
    </div>

</div>