<div class="easyui-layout" data-options="fit:true">
    @*<div data-options="region:'north',border:false,collapsible:false" style="height: 50px;padding: 10px; overflow: hidden; border-bottom-width: 1px;">
        <div style="margin:5px;" class="form-inline">
            <div class="form-group">
                <a href="javascript:;" data-operation="doSearch" class="btn btn-primary btn-xs active easyui-linkbutton" role="button">查询</a>
            </div>
        </div>
    </div>*@
    <div data-options="region:'center',split:false,border:false" style="width: 600px; border-right-width: 1px;"></div>
</div>