<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false,collapsible:true" style="height: 50px;padding: 10px; overflow: hidden; border-bottom-width: 1px;">
        <div style="margin:5px;" class="form-inline">
            <div class='form-group' style='float:right'>
                <label id='hintAbnormal'>离下次刷新时间还有60秒</label>
            </div>
        </div>
    </div>
    <div data-options="region:'center',split:false,border:false" style="width: 600px; border-right-width: 1px;"></div>
</div>